In [9]:
import os
import pandas as pd

In [10]:
path = os.path.join('OriginalData', 'train_users.csv')
train = pd.read_csv(path)

path = os.path.join('OriginalData', 'test_users.csv')
test = pd.read_csv(path)

In [11]:
# Set this to 2 otherwise they will be nan and i may accidentally fill it
test["moved_after_2019"] = 2

## Add in the data

Work experiences

In [12]:
path = os.path.join('PreparedData', 'work_experiences.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

Skills

In [13]:
path = os.path.join('PreparedData', 'skills.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

Language

In [14]:
path = os.path.join('PreparedData', 'languages.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

Education

In [15]:
path = os.path.join('PreparedData', 'education.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

## Deal with Nan Values

In [16]:
train.isnull().sum()

user_id                  0
industry                72
location                 1
moved_after_2019         0
StartAfter2019        6466
companies_worked      6466
positions_worked      6466
days_worked           6466
max_days_worked       6466
min_days_worked       6466
avg_days_worked       6466
total_days_worked     6466
Business              3107
Design                3107
IT                    3107
Other                 3107
N_Skills              3107
English              23158
German               23158
Turkish              23158
French               23158
Spanish              23158
Chinese              23158
NLanguages           23158
start_date_edu           1
end_date_edu             1
degree_edu               1
field_edu                1
dtype: int64

In [17]:
train[train["StartAfter2019"].isna()]

,user_id,industry,location,moved_after_2019,StartAfter2019,companies_worked,positions_worked,days_worked,max_days_worked,min_days_worked,...,German,Turkish,French,Spanish,Chinese,NLanguages,start_date_edu,end_date_edu,degree_edu,field_edu
11,29026,Computer Software,"Istanbul, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,5.0,2.0,0.0,0.0,2.0,2017-01,2025-07,2.0,Other
13,45820,Computer Software,"Ankara, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,2.0,2016-01,2022-08,2.0,Engineering
28,16871,Computer Software,"Üsküdar, Istanbul, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,5.0,0.0,0.0,0.0,2.0,nan-,nan-,2.0,Engineering
30,22581,Computer Software,"Amasya, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2017-09,2021-10,2.0,Other
33,53525,Program Development,"Samsun, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nan-,nan-,2.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53004,1578,Computer Software,"Eyüp, Istanbul, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nan-,nan-,2.0,Engineering
53008,13329,Mining & Metals,"Istanbul, Istanbul, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nan-,nan-,2.0,Engineering
53010,47718,Information Technology and Services,"Ankara, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,nan-,nan-,2.0,Business
53013,20367,Computer Software,"Istanbul, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nan-,nan-,3.0,Other
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,5.0,0.0,0.0,0.0,6.0,nan-,nan-,2.0,Other

In [123]:
test.isnull().sum()

user_id                0
industry              16
location               0
moved_after_2019       0
StartAfter2019      2729
companies_worked    2729
country             4649
max_duration        2729
Business             765
Design               765
IT                   765
Other                765
N_Skills             765
English             5826
German              5826
Turkish             5826
French              5826
Spanish             5826
Chinese             5826
NLanguages          5826
start_date_edu         2
end_date_edu           2
degree_edu             2
field_edu              2
dtype: int64

Fill in industry and location as "Other"

In [124]:
train['industry'] = train['industry'].fillna('Other')
test['industry'] = test['industry'].fillna('Other')

train['location'] = train['location'].fillna('Other')
test['location'] = test['location'].fillna('Other')

Fill in companies worked as 2
-   Note: Later change this to 0,1,2,3,.. etc to see how model works

In [125]:
train['companies_worked'] = train['companies_worked'].fillna(2)
test['companies_worked'] = test['companies_worked'].fillna(2)

Fill max duration as 0 days
-   Maybe try this with mean, etc

In [126]:
train['max_duration'] = train['max_duration'].fillna(0)
test['max_duration'] = test['max_duration'].fillna(0)

Fill nan skills with the mean for everyone

In [127]:
train["IT"].mean()

6.087413848373137

In [128]:
train.dtypes

user_id               int64
industry             object
location             object
moved_after_2019      int64
StartAfter2019      float64
companies_worked    float64
country              object
max_duration        float64
Business            float64
Design              float64
IT                  float64
Other               float64
N_Skills            float64
English             float64
German              float64
Turkish             float64
French              float64
Spanish             float64
Chinese             float64
NLanguages          float64
start_date_edu       object
end_date_edu         object
degree_edu          float64
field_edu            object
dtype: object

In [129]:
# Fill counts with 0 for NaNs
train['IT'] = train['IT'].fillna(train['IT'].mean()).astype(int)
train['Business'] = train['Business'].fillna(train['Business'].mean()).astype(int)
train['Design'] = train['Design'].fillna(train['Design'].mean()).astype(int)
train['Other'] = train['Other'].fillna(train['Other'].mean()).astype(int)


# Do the same for the test dataframe
test['IT'] = test['IT'].fillna(train['IT'].mean()).astype(int)
test['Business'] = test['Business'].fillna(train['Business'].mean()).astype(int)
test['Design'] = test['Design'].fillna(train['Design'].mean()).astype(int)
test['Other'] = test['Other'].fillna(train['Other'].mean()).astype(int)

# Hence Compute N_skills as the sum of IT, Business and Design
train['N_Skills'] = train['IT'] + train['Business'] + train['Design'] + train['Other']
test['N_Skills'] = test['IT'] + test['Business'] + test['Design'] + test['Other']

Fill languages with ~0

In [130]:
# Fillna as 0 for language columns
train['Turkish'] = train['Turkish'].fillna(5)
test['Turkish'] = test['Turkish'].fillna(4)

train['English'] = train['English'].fillna(2)
test['English'] = test['English'].fillna(2)

train['German'] = train['German'].fillna(0)
test['German'] = test['German'].fillna(0)

train['French'] = train['French'].fillna(0)
test['French'] = test['French'].fillna(0)

train['Spanish'] = train['Spanish'].fillna(0)
test['Spanish'] = test['Spanish'].fillna(0)

train['Chinese'] = train['Chinese'].fillna(0)
test['Chinese'] = test['Chinese'].fillna(0)

Fill N_languages with mean

In [131]:
train['NLanguages'] = train['NLanguages'].fillna(train['NLanguages'].mean()).astype(int)
test['NLanguages'] = test['NLanguages'].fillna(train['NLanguages'].mean()).astype(int)

Fill Education level with bachelor

In [132]:
# Fill degree_edu with 0 for NaNs
train['degree_edu'] = train['degree_edu'].fillna(0)
test['degree_edu'] = test['degree_edu'].fillna(0)

# Fill field_edu as Other
train['field_edu'] = train['field_edu'].fillna('Other')
test['field_edu'] = test['field_edu'].fillna('Other')

# Fill start_date_edu and end_date_edu as both 2023-01-01
train['start_date_edu'] = train['start_date_edu'].fillna('2023-01-01')
test['start_date_edu'] = test['start_date_edu'].fillna('2023-01-01')

train['end_date_edu'] = train['end_date_edu'].fillna('2023-01-01')
test['end_date_edu'] = test['end_date_edu'].fillna('2023-01-01')

Drop country column or not

In [133]:
""" train = train.drop('country', axis=1)
test = test.drop('country', axis=1) """

" train = train.drop('country', axis=1)\ntest = test.drop('country', axis=1) "

Checks

In [134]:
# Show how many rows have Turkey in the location string
train[train['location'].str.contains('Turkey')].shape[0]

52840

Location data

In [135]:
# Fix these rows
# Replace all uppercase İ with normal I
train['location'] = train['location'].str.replace('İ', 'I')
test['location'] = test['location'].str.replace('İ', 'I')
city_names = ['Izmir', 'Bursa', 'Istanbul', 'Ankara', 'Eskisehir', 'Kahramanmaras', 'Kayseri', "Manisa", "Antalya", 
              "Tekirdag", "Adana", "Konya", "Kocaeli", "Ordu", "Gaziantep", "Kahramanmaraş"]

for name in city_names:
    train.loc[train['location'].str.contains(name), 'location'] = name + ', Turkey'
    test.loc[test['location'].str.contains(name), 'location'] = name + ', Turkey'

# Replace location rows with Kahraman Maras, Turkey with Kahramanmaraş, Turkey
train.loc[train['location'].str.contains('Kahraman Maras, Turkey'), 'location'] = 'Kahramanmaraş, Turkey'
test.loc[test['location'].str.contains('Kahraman Maras, Turkey'), 'location'] = 'Kahramanmaraş, Turkey'

In [136]:
# Show location with most occurences
train['location'].value_counts()

Istanbul, Turkey                  28391
Turkey                            10922
Ankara, Turkey                     7708
Izmir, Turkey                      1955
Kocaeli, Turkey                     557
                                  ...
Afyon, Turkey                         1
Amsterdam Area                        1
Çınarcık, Yalova, Turkey              1
Palandoken, Erzurum, Turkey           1
Islamabad, Islāmābād, Pakistan        1
Name: location, Length: 228, dtype: int64

Deal with location columns

In [137]:
# If location contains Turkey, set location to Turkey
train.loc[train['location'].str.contains('Turkey'), 'location'] = 'Turkey'
test.loc[test['location'].str.contains('Turkey'), 'location'] = 'Turkey'

train.loc[train['location'].str.contains('Germany'), 'location'] = 'Germany'
test.loc[test['location'].str.contains('Germany'), 'location'] = 'Germany'

train.loc[train['location'].str.contains('Netherlands'), 'location'] = 'Netherlands'
test.loc[test['location'].str.contains('Netherlands'), 'location'] = 'Netherlands'

train.loc[train['location'].str.contains('Pakistan'), 'location'] = 'Pakistan'
test.loc[test['location'].str.contains('Pakistan'), 'location'] = 'Pakistan'

train.loc[train['location'].str.contains('United Kingdom'), 'location'] = 'United Kingdom'
test.loc[test['location'].str.contains('United Kingdom'), 'location'] = 'United Kingdom'

# Rename other locations to other
train.loc[~train['location'].str.contains('Turkey|Germany|Netherlands|Pakistan|United Kingdom'), 'location'] = 'Other'
test.loc[~test['location'].str.contains('Turkey|Germany|Netherlands|Pakistan|United Kingdom'), 'location'] = 'Other'

In [138]:
# Show top locations
train['location'].value_counts()

Turkey            52956
Other                30
Germany              16
Netherlands          10
United Kingdom        5
Pakistan              2
Name: location, dtype: int64

Start after 2019 column

In [139]:
train.StartAfter2019.fillna(0, inplace=True)
test.StartAfter2019.fillna(0, inplace=True)

Fill unknown countries as unsure

In [140]:
train.country.fillna("Unsure",inplace=True)
test.country.fillna("Unsure",inplace=True)

## Check datatypes

In [141]:
train.isna().sum()

user_id             0
industry            0
location            0
moved_after_2019    0
StartAfter2019      0
companies_worked    0
country             0
max_duration        0
Business            0
Design              0
IT                  0
Other               0
N_Skills            0
English             0
German              0
Turkish             0
French              0
Spanish             0
Chinese             0
NLanguages          0
start_date_edu      0
end_date_edu        0
degree_edu          0
field_edu           0
dtype: int64

In [142]:
test.dtypes

user_id               int64
industry             object
location             object
moved_after_2019      int64
StartAfter2019      float64
companies_worked    float64
country              object
max_duration        float64
Business              int32
Design                int32
IT                    int32
Other                 int32
N_Skills              int32
English             float64
German              float64
Turkish             float64
French              float64
Spanish             float64
Chinese             float64
NLanguages            int32
start_date_edu       object
end_date_edu         object
degree_edu          float64
field_edu            object
dtype: object

Cast columns into int

In [143]:
float_columns = train.select_dtypes(include=['float']).columns
train[float_columns] = train[float_columns].astype(int)

float_columns = test.select_dtypes(include=['float']).columns
test[float_columns] = test[float_columns].astype(int)

Change dates to datetime

In [144]:
# Set the start_date_edu and end_date_edu to datetime
train['start_date_edu'] = pd.to_datetime(train['start_date_edu'])
test['start_date_edu'] = pd.to_datetime(test['start_date_edu'])

train['end_date_edu'] = pd.to_datetime(train['end_date_edu'])
test['end_date_edu'] = pd.to_datetime(test['end_date_edu'])

In [145]:
test.dtypes

user_id                      int64
industry                    object
location                    object
moved_after_2019             int64
StartAfter2019               int32
companies_worked             int32
country                     object
max_duration                 int32
Business                     int32
Design                       int32
IT                           int32
Other                        int32
N_Skills                     int32
English                      int32
German                       int32
Turkish                      int32
French                       int32
Spanish                      int32
Chinese                      int32
NLanguages                   int32
start_date_edu      datetime64[ns]
end_date_edu        datetime64[ns]
degree_edu                   int32
field_edu                   object
dtype: object

#### Drop Industry for now as it has too many unique values

In [146]:
# Drop industry column
train = train.drop('industry', axis=1)
test = test.drop('industry', axis=1)

Remove users who entered work after 2019 as they all are marked as 0

First inspect

In [147]:
temp = train[train["StartAfter2019"] ==1]
#temp = temp[["moved_after_2019", "StartAfter2019"]]
print(temp.shape)
temp[temp["moved_after_2019"] == 1 ]

(9816, 23)

,user_id,location,moved_after_2019,StartAfter2019,companies_worked,country,max_duration,Business,Design,IT,...,German,Turkish,French,Spanish,Chinese,NLanguages,start_date_edu,end_date_edu,degree_edu,field_edu
5,47498,Turkey,1,1,1,Unsure,-273,0,0,9,...,0,5,0,0,0,2,2100-01-01,2100-01-01,2,Mathematics
6,13722,Turkey,1,1,1,TR,-212,0,0,6,...,0,0,0,0,0,3,2100-01-01,2100-01-01,3,Engineering
8,14242,Turkey,1,1,6,TR,1918,0,0,9,...,0,2,0,0,0,3,2100-01-01,2100-01-01,3,Engineering
12,33971,Turkey,1,1,1,Unsure,-120,0,0,5,...,0,5,0,0,0,2,2100-01-01,2021-09-01,2,Engineering
20,25534,Turkey,1,1,1,TR,-31,0,0,3,...,0,5,0,0,0,2,2100-01-01,2100-01-01,2,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52990,22017,Turkey,1,1,1,TR,-90,0,0,6,...,0,5,0,0,0,2,2100-01-01,2100-01-01,2,Engineering
52992,48269,Turkey,1,1,1,Unsure,-120,0,1,3,...,0,5,0,0,0,2,2100-01-01,2100-01-01,2,Mathematics
52994,17736,Turkey,1,1,2,TR,4017,0,0,11,...,0,0,0,0,0,2,2100-01-01,2100-01-01,3,Engineering
53009,41192,Turkey,1,1,1,Unsure,-181,0,0,1,...,0,5,0,0,0,2,2017-07-01,2021-09-01,2,Engineering
53011,855,Turkey,1,1,3,Unsure,1064,0,0,4,...,0,5,0,0,0,2,2100-01-01,2100-01-01,2,Other

In [148]:
temp = test[test["StartAfter2019"] ==1]
#temp = temp[["moved_after_2019", "StartAfter2019"]]
print(temp.shape)
temp[temp["moved_after_2019"] == 1 ]

(0, 23)

Empty DataFrame
Columns: [user_id, location, moved_after_2019, StartAfter2019, companies_worked, country, max_duration, Business, Design, IT, Other, N_Skills, English, German, Turkish, French, Spanish, Chinese, NLanguages, start_date_edu, end_date_edu, degree_edu, field_edu]
Index: []

[0 rows x 23 columns]

Drop entries

In [151]:
train = train.loc[train["StartAfter2019"]  == 0,:]
train.drop("StartAfter2019", axis=1, inplace=True)
test.drop("StartAfter2019", axis=1, inplace=True)

In [152]:
# Save the data
train.to_csv("PreparedData/train.csv", index=False)
test.to_csv("PreparedData/test.csv", index=False)