In [155]:
import os
import pandas as pd

In [156]:
path = os.path.join('OriginalData', 'train_users.csv')
train = pd.read_csv(path)

path = os.path.join('OriginalData', 'test_users.csv')
test = pd.read_csv(path)

In [157]:
# Set this to 2 otherwise they will be nan and i may accidentally fill it
test["moved_after_2019"] = 2

## Add in the data

Work experiences

In [158]:
path = os.path.join('PreparedData', 'work_experiences.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

Skills

In [159]:
path = os.path.join('PreparedData', 'skills.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

Language

In [160]:
path = os.path.join('PreparedData', 'languages.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

Education

In [161]:
path = os.path.join('PreparedData', 'education.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

## Deal with Nan Values

In [162]:
train.isnull().sum()

user_id                   0
industry                 72
location                  1
moved_after_2019          0
StartAfter2019         6466
companies_worked       6466
positions_worked       6466
days_worked            6466
max_days_worked        6466
min_days_worked        6466
avg_days_worked        6466
total_days_worked      6466
Business               3107
Design                 3107
IT                     3107
Other                  3107
N_Skills               3107
English               23158
German                23158
Turkish               23158
French                23158
Spanish               23158
Chinese               23158
NLanguages            23158
degree_edu                1
field_edu                 1
Edu_Finished              1
Edu_Ongoing               1
Unknown_Edu_Status        1
dtype: int64

In [163]:
test.isnull().sum()

user_id                  0
industry                16
location                 0
moved_after_2019         0
StartAfter2019        2729
companies_worked      2729
positions_worked      2729
days_worked           2729
max_days_worked       2729
min_days_worked       2729
avg_days_worked       2729
total_days_worked     2729
Business               765
Design                 765
IT                     765
Other                  765
N_Skills               765
English               5826
German                5826
Turkish               5826
French                5826
Spanish               5826
Chinese               5826
NLanguages            5826
degree_edu               2
field_edu                2
Edu_Finished             2
Edu_Ongoing              2
Unknown_Edu_Status       2
dtype: int64

Fill in industry and location as "Other" ( there are very few values anyway")

In [164]:
train['industry'] = train['industry'].fillna('Other')
test['industry'] = test['industry'].fillna('Other')

train['location'] = train['location'].fillna('Other')
test['location'] = test['location'].fillna('Other')

#### Fill in the company and day columns

In [165]:
def fill_company_and_days(train,test,mean=True):
    if mean:
        # fill in the 'companies_worked', 'positions_worked', 'days_worked','max_days_worked', 'min_days_worked', 'avg_days_worked','total_days_worked' columns as the mean for both train and test dataframes
        train['companies_worked'] = train['companies_worked'].fillna(train['companies_worked'].mean())
        test['companies_worked'] = test['companies_worked'].fillna(train['companies_worked'].mean())
        train['positions_worked'] = train['positions_worked'].fillna(train['positions_worked'].mean())
        test['positions_worked'] = test['positions_worked'].fillna(train['positions_worked'].mean())
        train['days_worked'] = train['days_worked'].fillna(train['days_worked'].mean())
        test['days_worked'] = test['days_worked'].fillna(train['days_worked'].mean())
        train['max_days_worked'] = train['max_days_worked'].fillna(train['max_days_worked'].mean())
        test['max_days_worked'] = test['max_days_worked'].fillna(train['max_days_worked'].mean())
        train['min_days_worked'] = train['min_days_worked'].fillna(train['min_days_worked'].mean())
        test['min_days_worked'] = test['min_days_worked'].fillna(train['min_days_worked'].mean())
        train['avg_days_worked'] = train['avg_days_worked'].fillna(train['avg_days_worked'].mean())
        test['avg_days_worked'] = test['avg_days_worked'].fillna(train['avg_days_worked'].mean())
        train['total_days_worked'] = train['total_days_worked'].fillna(train['total_days_worked'].mean())
        test['total_days_worked'] = test['total_days_worked'].fillna(train['total_days_worked'].mean())
    else:
        # Fill all these columns with 0 
        train['companies_worked'] = train['companies_worked'].fillna(0)
        test['companies_worked'] = test['companies_worked'].fillna(0)
        train['positions_worked'] = train['positions_worked'].fillna(0)
        test['positions_worked'] = test['positions_worked'].fillna(0)
        train['days_worked'] = train['days_worked'].fillna(0)
        test['days_worked'] = test['days_worked'].fillna(0)
        train['max_days_worked'] = train['max_days_worked'].fillna(0)
        test['max_days_worked'] = test['max_days_worked'].fillna(0)
        train['min_days_worked'] = train['min_days_worked'].fillna(0)
        test['min_days_worked'] = test['min_days_worked'].fillna(0)
        train['avg_days_worked'] = train['avg_days_worked'].fillna(0)
        test['avg_days_worked'] = test['avg_days_worked'].fillna(0)
        train['total_days_worked'] = train['total_days_worked'].fillna(0)
        test['total_days_worked'] = test['total_days_worked'].fillna(0)

    return train,test

For the users with no work data, either assume they are "avearge" or that that they have no work data

In [166]:
train,test = fill_company_and_days(train,test,mean=True)

Fill skills

In [167]:
def fill_skills(train,test,mean=True):
    if mean:
        # Fill in the 'Business', 'Design', 'IT', 'Other', 'N_Skills' as the mean for both dataframes
        train['Business'] = train['Business'].fillna(train['Business'].mean())
        test['Business'] = test['Business'].fillna(train['Business'].mean())
        train['Design'] = train['Design'].fillna(train['Design'].mean())
        test['Design'] = test['Design'].fillna(train['Design'].mean())
        train['IT'] = train['IT'].fillna(train['IT'].mean())
        test['IT'] = test['IT'].fillna(train['IT'].mean())
        train['Other'] = train['Other'].fillna(train['Other'].mean())
        test['Other'] = test['Other'].fillna(train['Other'].mean())

        train['N_Skills'] = train['IT'] + train['Business'] + train['Design'] + train['Other']
        test['N_Skills'] = test['IT'] + test['Business'] + test['Design'] + test['Other']
    else: 
        ## Fill in all these as zero
        train['Business'] = train['Business'].fillna(0)
        test['Business'] = test['Business'].fillna(0)
        train['Design'] = train['Design'].fillna(0)
        test['Design'] = test['Design'].fillna(0)
        train['IT'] = train['IT'].fillna(0)
        test['IT'] = test['IT'].fillna(0)
        train['Other'] = train['Other'].fillna(0)
        test['Other'] = test['Other'].fillna(0)
        train['N_Skills'] = train['N_Skills'].fillna(0)
        test['N_Skills'] = test['N_Skills'].fillna(0)
    return train,test

In [168]:
train, test = fill_skills(train,test,mean=True)

Fill languages

In [169]:
def fill_languages(train,test,mean=1):
    if mean:
        # Fill in 'English', 'German', 'Turkish', 'French', 'Spanish', 'Chinese', 'NLanguages' columns as mean
        train['English'] = train['English'].fillna(train['English'].mean())
        test['English'] = test['English'].fillna(train['English'].mean())
        train['German'] = train['German'].fillna(train['German'].mean())
        test['German'] = test['German'].fillna(train['German'].mean())
        train['Turkish'] = train['Turkish'].fillna(train['Turkish'].mean())
        test['Turkish'] = test['Turkish'].fillna(train['Turkish'].mean())
        train['French'] = train['French'].fillna(train['French'].mean())
        test['French'] = test['French'].fillna(train['French'].mean())
        train['Spanish'] = train['Spanish'].fillna(train['Spanish'].mean())
        test['Spanish'] = test['Spanish'].fillna(train['Spanish'].mean())
        train['Chinese'] = train['Chinese'].fillna(train['Chinese'].mean())
        test['Chinese'] = test['Chinese'].fillna(train['Chinese'].mean())
        train['NLanguages'] = train['NLanguages'].fillna(train['NLanguages'].mean())
        test['NLanguages'] = test['NLanguages'].fillna(train['NLanguages'].mean())
    else: 
        # Fill in all these columns as 0
        train['English'] = train['English'].fillna(0)
        test['English'] = test['English'].fillna(0)
        train['German'] = train['German'].fillna(0)
        test['German'] = test['German'].fillna(0)
        train['Turkish'] = train['Turkish'].fillna(0)
        test['Turkish'] = test['Turkish'].fillna(0)
        train['French'] = train['French'].fillna(0)
        test['French'] = test['French'].fillna(0)
        train['Spanish'] = train['Spanish'].fillna(0)
        test['Spanish'] = test['Spanish'].fillna(0)
        train['Chinese'] = train['Chinese'].fillna(0)
        test['Chinese'] = test['Chinese'].fillna(0)
        train['NLanguages'] = train['NLanguages'].fillna(0)
        test['NLanguages'] = test['NLanguages'].fillna(0)
    return train,test

In [170]:
train, test = fill_languages(train,test,mean=True)

Fill unknown edu status columns (only 2 now)

In [171]:
# Fill Edu_Finished, Edu_Ongoing, Unknown_Edu_Status as 0
train['Edu_Finished'] = train['Edu_Finished'].fillna(0)
test['Edu_Finished'] = test['Edu_Finished'].fillna(0)
train['Edu_Ongoing'] = train['Edu_Ongoing'].fillna(0)
test['Edu_Ongoing'] = test['Edu_Ongoing'].fillna(0)
train['Unknown_Edu_Status'] = train['Unknown_Edu_Status'].fillna(1)
test['Unknown_Edu_Status'] = test['Unknown_Edu_Status'].fillna(1)

In [172]:
test.isna().sum()

user_id                  0
industry                 0
location                 0
moved_after_2019         0
StartAfter2019        2729
companies_worked         0
positions_worked         0
days_worked              0
max_days_worked          0
min_days_worked          0
avg_days_worked          0
total_days_worked        0
Business                 0
Design                   0
IT                       0
Other                    0
N_Skills                 0
English                  0
German                   0
Turkish                  0
French                   0
Spanish                  0
Chinese                  0
NLanguages               0
degree_edu               2
field_edu                2
Edu_Finished             0
Edu_Ongoing              0
Unknown_Edu_Status       0
dtype: int64

Fill degree and field ( only 2 nans)

In [173]:
train['degree_edu'] = train['degree_edu'].fillna(0)
test['degree_edu'] = test['degree_edu'].fillna(0)

train['field_edu'] = train['field_edu'].fillna('Other')
test['field_edu'] = test['field_edu'].fillna('Other')

### Location data - Ignore for now

In [174]:
""" # Fix these rows
# Replace all uppercase İ with normal I
train['location'] = train['location'].str.replace('İ', 'I')
test['location'] = test['location'].str.replace('İ', 'I')
city_names = ['Izmir', 'Bursa', 'Istanbul', 'Ankara', 'Eskisehir', 'Kahramanmaras', 'Kayseri', "Manisa", "Antalya", 
              "Tekirdag", "Adana", "Konya", "Kocaeli", "Ordu", "Gaziantep", "Kahramanmaraş"]

for name in city_names:
    train.loc[train['location'].str.contains(name), 'location'] = name + ', Turkey'
    test.loc[test['location'].str.contains(name), 'location'] = name + ', Turkey'

# Replace location rows with Kahraman Maras, Turkey with Kahramanmaraş, Turkey
train.loc[train['location'].str.contains('Kahraman Maras, Turkey'), 'location'] = 'Kahramanmaraş, Turkey'
test.loc[test['location'].str.contains('Kahraman Maras, Turkey'), 'location'] = 'Kahramanmaraş, Turkey' """

' # Fix these rows\n#\xa0Replace all uppercase İ with normal I\ntrain[\'location\'] = train[\'location\'].str.replace(\'İ\', \'I\')\ntest[\'location\'] = test[\'location\'].str.replace(\'İ\', \'I\')\ncity_names = [\'Izmir\', \'Bursa\', \'Istanbul\', \'Ankara\', \'Eskisehir\', \'Kahramanmaras\', \'Kayseri\', "Manisa", "Antalya", \n              "Tekirdag", "Adana", "Konya", "Kocaeli", "Ordu", "Gaziantep", "Kahramanmaraş"]\n\nfor name in city_names:\n    train.loc[train[\'location\'].str.contains(name), \'location\'] = name + \', Turkey\'\n    test.loc[test[\'location\'].str.contains(name), \'location\'] = name + \', Turkey\'\n\n# Replace location rows with Kahraman Maras, Turkey with Kahramanmaraş, Turkey\ntrain.loc[train[\'location\'].str.contains(\'Kahraman Maras, Turkey\'), \'location\'] = \'Kahramanmaraş, Turkey\'\ntest.loc[test[\'location\'].str.contains(\'Kahraman Maras, Turkey\'), \'location\'] = \'Kahramanmaraş, Turkey\' '

In [175]:
""" # Show location with most occurences
train['location'].value_counts() """

" # Show location with most occurences\ntrain['location'].value_counts() "

Deal with location columns

In [176]:
""" # If location contains Turkey, set location to Turkey
train.loc[train['location'].str.contains('Turkey'), 'location'] = 'Turkey'
test.loc[test['location'].str.contains('Turkey'), 'location'] = 'Turkey'

train.loc[train['location'].str.contains('Germany'), 'location'] = 'Germany'
test.loc[test['location'].str.contains('Germany'), 'location'] = 'Germany'

train.loc[train['location'].str.contains('Netherlands'), 'location'] = 'Netherlands'
test.loc[test['location'].str.contains('Netherlands'), 'location'] = 'Netherlands'

train.loc[train['location'].str.contains('Pakistan'), 'location'] = 'Pakistan'
test.loc[test['location'].str.contains('Pakistan'), 'location'] = 'Pakistan'

train.loc[train['location'].str.contains('United Kingdom'), 'location'] = 'United Kingdom'
test.loc[test['location'].str.contains('United Kingdom'), 'location'] = 'United Kingdom'

# Rename other locations to other
train.loc[~train['location'].str.contains('Turkey|Germany|Netherlands|Pakistan|United Kingdom'), 'location'] = 'Other'
test.loc[~test['location'].str.contains('Turkey|Germany|Netherlands|Pakistan|United Kingdom'), 'location'] = 'Other'
 """

" # If location contains Turkey, set location to Turkey\ntrain.loc[train['location'].str.contains('Turkey'), 'location'] = 'Turkey'\ntest.loc[test['location'].str.contains('Turkey'), 'location'] = 'Turkey'\n\ntrain.loc[train['location'].str.contains('Germany'), 'location'] = 'Germany'\ntest.loc[test['location'].str.contains('Germany'), 'location'] = 'Germany'\n\ntrain.loc[train['location'].str.contains('Netherlands'), 'location'] = 'Netherlands'\ntest.loc[test['location'].str.contains('Netherlands'), 'location'] = 'Netherlands'\n\ntrain.loc[train['location'].str.contains('Pakistan'), 'location'] = 'Pakistan'\ntest.loc[test['location'].str.contains('Pakistan'), 'location'] = 'Pakistan'\n\ntrain.loc[train['location'].str.contains('United Kingdom'), 'location'] = 'United Kingdom'\ntest.loc[test['location'].str.contains('United Kingdom'), 'location'] = 'United Kingdom'\n\n# Rename other locations to other\ntrain.loc[~train['location'].str.contains('Turkey|Germany|Netherlands|Pakistan|United Kingdom'), 'location'] = 'Other'\ntest.loc[~test['location'].str.contains('Turkey|Germany|Netherlands|Pakistan|United Kingdom'), 'location'] = 'Other'\n "

In [177]:
""" # Show top locations
train['location'].value_counts() """

" # Show top locations\ntrain['location'].value_counts() "

### Start after 2019 column

In [178]:
train.StartAfter2019.fillna(0, inplace=True)
test.StartAfter2019.fillna(0, inplace=True)

## Check datatypes

In [179]:
train.dtypes

user_id                 int64
industry               object
location               object
moved_after_2019        int64
StartAfter2019        float64
companies_worked      float64
positions_worked      float64
days_worked           float64
max_days_worked       float64
min_days_worked       float64
avg_days_worked       float64
total_days_worked     float64
Business              float64
Design                float64
IT                    float64
Other                 float64
N_Skills              float64
English               float64
German                float64
Turkish               float64
French                float64
Spanish               float64
Chinese               float64
NLanguages            float64
degree_edu            float64
field_edu              object
Edu_Finished          float64
Edu_Ongoing           float64
Unknown_Edu_Status    float64
dtype: object

## Remove users who entered work after 2019 as they all are marked as 0

First inspect

In [180]:
temp = train[train["StartAfter2019"] ==1]
#temp = temp[["moved_after_2019", "StartAfter2019"]]
print(temp.shape)
temp[temp["moved_after_2019"] == 1 ]

(4077, 29)

,user_id,industry,location,moved_after_2019,StartAfter2019,companies_worked,positions_worked,days_worked,max_days_worked,min_days_worked,...,Turkish,French,Spanish,Chinese,NLanguages,degree_edu,field_edu,Edu_Finished,Edu_Ongoing,Unknown_Edu_Status
5,47498,Computer Software,"Ankara, Ankara, Turkey",1,1.0,1.0,1.0,-273.0,-273.0,-273.0,...,2.753424,0.079602,0.063092,0.007033,2.039081,2.0,Mathematics,1.0,0.0,0.0
6,13722,Mobile Games,"Istanbul, Turkey",1,1.0,1.0,1.0,-212.0,-212.0,-212.0,...,0.000000,0.000000,0.000000,0.000000,3.000000,3.0,Engineering,1.0,0.0,0.0
12,33971,Computer Software,"Istanbul, Istanbul, Turkey",1,1.0,1.0,1.0,-120.0,-120.0,-120.0,...,2.753424,0.079602,0.063092,0.007033,2.039081,2.0,Engineering,0.0,1.0,0.0
20,25534,Computer Software,"Istanbul, Turkey",1,1.0,1.0,1.0,-31.0,-31.0,-31.0,...,2.753424,0.079602,0.063092,0.007033,2.039081,2.0,Other,1.0,0.0,0.0
22,472,Internet,Turkey,1,1.0,1.0,1.0,-120.0,-120.0,-120.0,...,2.753424,0.079602,0.063092,0.007033,2.039081,2.0,Engineering,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52976,43924,Higher Education,"İzmir, Turkey",1,1.0,1.0,1.0,-273.0,-273.0,-273.0,...,5.000000,0.000000,0.000000,0.000000,2.000000,2.0,Engineering,1.0,0.0,0.0
52981,23623,Computer Software,"Istanbul, Turkey",1,1.0,1.0,1.0,-212.0,-212.0,-212.0,...,5.000000,0.000000,0.000000,0.000000,2.000000,2.0,Other,1.0,0.0,0.0
52990,22017,Banking,"Istanbul, Turkey",1,1.0,1.0,1.0,-90.0,-90.0,-90.0,...,2.753424,0.079602,0.063092,0.007033,2.039081,2.0,Engineering,1.0,0.0,0.0
52992,48269,Computer Software,"Ankara, Ankara, Turkey",1,1.0,1.0,1.0,-120.0,-120.0,-120.0,...,2.753424,0.079602,0.063092,0.007033,2.039081,2.0,Mathematics,1.0,0.0,0.0
53009,41192,Computer Software,"Istanbul, Turkey",1,1.0,1.0,1.0,-181.0,-181.0,-181.0,...,2.753424,0.079602,0.063092,0.007033,2.039081,2.0,Engineering,0.0,1.0,0.0

In [181]:
temp = test[test["StartAfter2019"] ==1]
#temp = temp[["moved_after_2019", "StartAfter2019"]]
print(temp.shape)
temp[temp["moved_after_2019"] == 1 ]

(0, 29)

Empty DataFrame
Columns: [user_id, industry, location, moved_after_2019, StartAfter2019, companies_worked, positions_worked, days_worked, max_days_worked, min_days_worked, avg_days_worked, total_days_worked, Business, Design, IT, Other, N_Skills, English, German, Turkish, French, Spanish, Chinese, NLanguages, degree_edu, field_edu, Edu_Finished, Edu_Ongoing, Unknown_Edu_Status]
Index: []

[0 rows x 29 columns]

Drop entries starting after 0

In [182]:
train = train.loc[train["StartAfter2019"]  == 0,:]

## Dropping Columns

Drop start after 2019 column

In [183]:
train.drop("StartAfter2019", axis=1, inplace=True)
test.drop("StartAfter2019", axis=1, inplace=True)

#### Drop Industry for now as it has too many unique values

In [184]:
# Drop industry column
train = train.drop('industry', axis=1)
test = test.drop('industry', axis=1)

Drop location as well

In [185]:
train = train.drop('location', axis=1)
test = test.drop('location', axis=1)

In [186]:
# Save the data
train.to_csv("PreparedData/train.csv", index=False)
test.to_csv("PreparedData/test.csv", index=False)