In [107]:
import os
import pandas as pd

In [108]:
path = os.path.join('OriginalData', 'train_users.csv')
train = pd.read_csv(path)

path = os.path.join('OriginalData', 'test_users.csv')
test = pd.read_csv(path)

In [109]:
# Set thsi to 2 otherwise they will be nan and i may accidentalyl fill it
test["moved_after_2019"] = 2

## Add in the data

Work experiences

In [110]:
path = os.path.join('PreparedData', 'work_experiences.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

train.head()

,user_id,industry,location,moved_after_2019,companies_worked,country,max_duration
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,TR,1035.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,TR,1402.0
2,4880,Online Media,Turkey,0,4.0,TR,1216.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,TR,1856.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,TR,2769.0

Skills

In [111]:
path = os.path.join('PreparedData', 'skills.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

train.head()

,user_id,industry,location,moved_after_2019,companies_worked,country,max_duration,Business,Design,IT,Other,N_Skills
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,TR,1035.0,2.0,0.0,4.0,17.0,23.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,TR,1402.0,0.0,0.0,17.0,32.0,49.0
2,4880,Online Media,Turkey,0,4.0,TR,1216.0,0.0,2.0,4.0,15.0,21.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,TR,1856.0,0.0,0.0,7.0,23.0,30.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,TR,2769.0,0.0,1.0,10.0,37.0,48.0

Language

In [112]:
path = os.path.join('PreparedData', 'languages.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

train.head()

,user_id,industry,location,moved_after_2019,companies_worked,country,max_duration,Business,Design,IT,Other,N_Skills,English,German,Turkish,French,Spanish,Chinese,NLanguages
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,TR,1035.0,2.0,0.0,4.0,17.0,23.0,3.0,0.0,5.0,0.0,0.0,0.0,4.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,TR,1402.0,0.0,0.0,17.0,32.0,49.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
2,4880,Online Media,Turkey,0,4.0,TR,1216.0,0.0,2.0,4.0,15.0,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,TR,1856.0,0.0,0.0,7.0,23.0,30.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,TR,2769.0,0.0,1.0,10.0,37.0,48.0,3.0,0.0,5.0,0.0,0.0,0.0,3.0

Education

In [113]:
path = os.path.join('PreparedData', 'education.csv')
data = pd.read_csv(path)

train = pd.merge(train, data, how='left', on='user_id')
test = pd.merge(test, data, how='left', on='user_id')

train.head()

,user_id,industry,location,moved_after_2019,companies_worked,country,max_duration,Business,Design,IT,...,German,Turkish,French,Spanish,Chinese,NLanguages,start_date_edu,end_date_edu,degree_edu,field_edu
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,TR,1035.0,2.0,0.0,4.0,...,0.0,5.0,0.0,0.0,0.0,4.0,2023-01-01,2023-01-01,2.0,Other
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,TR,1402.0,0.0,0.0,17.0,...,0.0,0.0,0.0,0.0,0.0,3.0,2023-01-01,2023-01-01,1.0,Other
2,4880,Online Media,Turkey,0,4.0,TR,1216.0,0.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-01,2023-01-01,2.0,Other
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,TR,1856.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2023-01-01,2023-01-01,1.0,Business
4,11005,Banking,"Istanbul, Turkey",0,3.0,TR,2769.0,0.0,1.0,10.0,...,0.0,5.0,0.0,0.0,0.0,3.0,2023-01-01,2023-01-01,1.0,Other

## Deal with Nan Values

In [114]:
train.isnull().sum()

user_id                 0
industry               72
location                1
moved_after_2019        0
companies_worked    10252
country             10252
max_duration        10252
Business             3107
Design               3107
IT                   3107
Other                3107
N_Skills             3107
English             23158
German              23158
Turkish             23158
French              23158
Spanish             23158
Chinese             23158
NLanguages          23158
start_date_edu          1
end_date_edu            1
degree_edu              1
field_edu               1
dtype: int64

In [115]:
test.isnull().sum()

user_id                0
industry              16
location               0
moved_after_2019       0
companies_worked    2729
country             2729
max_duration        2729
Business             765
Design               765
IT                   765
Other                765
N_Skills             765
English             5826
German              5826
Turkish             5826
French              5826
Spanish             5826
Chinese             5826
NLanguages          5826
start_date_edu         2
end_date_edu           2
degree_edu             2
field_edu              2
dtype: int64

Fill in industry and location as "Other"

In [116]:
train['industry'] = train['industry'].fillna('Other')
test['industry'] = test['industry'].fillna('Other')

train['location'] = train['location'].fillna('Other')
test['location'] = test['location'].fillna('Other')

Fill in companies worked as 2
-   Note: Later change this to 0,1,2,3,.. etc to see how model works

In [117]:
train['companies_worked'] = train['companies_worked'].fillna(2)
test['companies_worked'] = test['companies_worked'].fillna(2)

Fill max duration as 0 days
-   Maybe try this with mean, etc

In [118]:
train['max_duration'] = train['max_duration'].fillna(0)
test['max_duration'] = test['max_duration'].fillna(0)

Fill nan skills with the mean for everyone

In [119]:
# Fill counts with 0 for NaNs
train['IT'] = train['IT'].fillna(train['IT'].mean().astype(int))
train['Business'] = train['Business'].fillna(train['Business'].mean().astype(int))
train['Design'] = train['Design'].fillna(train['Design'].mean().astype(int))
train['Other'] = train['Other'].fillna(train['Other'].mean().astype(int))


# Do the same for the test dataframe
test['IT'] = test['IT'].fillna(train['IT'].mean().astype(int))
test['Business'] = test['Business'].fillna(train['Business'].mean().astype(int))
test['Design'] = test['Design'].fillna(train['Design'].mean().astype(int))
test['Other'] = test['Other'].fillna(train['Other'].mean().astype(int))

# Hence Compute N_skills as the sum of IT, Business and Design
train['N_Skills'] = train['IT'] + train['Business'] + train['Design'] + train['Other']
test['N_Skills'] = test['IT'] + test['Business'] + test['Design'] + test['Other']

Fill languages with ~0

In [120]:
# Fillna as 0 for language columns
train['Turkish'] = train['Turkish'].fillna(5)
test['Turkish'] = test['Turkish'].fillna(4)

train['English'] = train['English'].fillna(2)
test['English'] = test['English'].fillna(2)

train['German'] = train['German'].fillna(0)
test['German'] = test['German'].fillna(0)

train['French'] = train['French'].fillna(0)
test['French'] = test['French'].fillna(0)

train['Spanish'] = train['Spanish'].fillna(0)
test['Spanish'] = test['Spanish'].fillna(0)

train['Chinese'] = train['Chinese'].fillna(0)
test['Chinese'] = test['Chinese'].fillna(0)

Fill N_languages with mean

In [121]:
train['NLanguages'] = train['NLanguages'].fillna(train['NLanguages'].mean().astype(int))
test['NLanguages'] = test['NLanguages'].fillna(train['NLanguages'].mean().astype(int))

Fill Education level with bachelor

In [122]:
# Fill degree_edu with 0 for NaNs
train['degree_edu'] = train['degree_edu'].fillna(0)
test['degree_edu'] = test['degree_edu'].fillna(0)

# Fill field_edu as Other
train['field_edu'] = train['field_edu'].fillna('Other')
test['field_edu'] = test['field_edu'].fillna('Other')

# Fill start_date_edu and end_date_edu as both 2023-01-01
train['start_date_edu'] = train['start_date_edu'].fillna('2023-01-01')
test['start_date_edu'] = test['start_date_edu'].fillna('2023-01-01')

train['end_date_edu'] = train['end_date_edu'].fillna('2023-01-01')
test['end_date_edu'] = test['end_date_edu'].fillna('2023-01-01')

Drop country column

In [123]:
train = train.drop('country', axis=1)
test = test.drop('country', axis=1)

Checks

In [124]:
# Show how many rows have Turkey in the location string
train[train['location'].str.contains('Turkey')].shape[0]

52840

Location data

In [125]:
# Fix these rows
# Replace all uppercase İ with normal I
train['location'] = train['location'].str.replace('İ', 'I')
test['location'] = test['location'].str.replace('İ', 'I')
city_names = ['Izmir', 'Bursa', 'Istanbul', 'Ankara', 'Eskisehir', 'Kahramanmaras', 'Kayseri', "Manisa", "Antalya", 
              "Tekirdag", "Adana", "Konya", "Kocaeli", "Ordu", "Gaziantep", "Kahramanmaraş"]

for name in city_names:
    train.loc[train['location'].str.contains(name), 'location'] = name + ', Turkey'
    test.loc[test['location'].str.contains(name), 'location'] = name + ', Turkey'

# Replace location rows with Kahraman Maras, Turkey with Kahramanmaraş, Turkey
train.loc[train['location'].str.contains('Kahraman Maras, Turkey'), 'location'] = 'Kahramanmaraş, Turkey'
test.loc[test['location'].str.contains('Kahraman Maras, Turkey'), 'location'] = 'Kahramanmaraş, Turkey'

In [126]:
# Show location with most occurences
train['location'].value_counts()

Istanbul, Turkey                  28391
Turkey                            10922
Ankara, Turkey                     7708
Izmir, Turkey                      1955
Kocaeli, Turkey                     557
                                  ...
Afyon, Turkey                         1
Amsterdam Area                        1
Çınarcık, Yalova, Turkey              1
Palandoken, Erzurum, Turkey           1
Islamabad, Islāmābād, Pakistan        1
Name: location, Length: 228, dtype: int64

Deal with location columns

In [127]:
# If location contains Turkey, set location to Turkey
train.loc[train['location'].str.contains('Turkey'), 'location'] = 'Turkey'
test.loc[test['location'].str.contains('Turkey'), 'location'] = 'Turkey'

train.loc[train['location'].str.contains('Germany'), 'location'] = 'Germany'
test.loc[test['location'].str.contains('Germany'), 'location'] = 'Germany'

train.loc[train['location'].str.contains('Netherlands'), 'location'] = 'Netherlands'
test.loc[test['location'].str.contains('Netherlands'), 'location'] = 'Netherlands'

train.loc[train['location'].str.contains('Pakistan'), 'location'] = 'Pakistan'
test.loc[test['location'].str.contains('Pakistan'), 'location'] = 'Pakistan'

train.loc[train['location'].str.contains('United Kingdom'), 'location'] = 'United Kingdom'
test.loc[test['location'].str.contains('United Kingdom'), 'location'] = 'United Kingdom'

# Rename other locations to other
train.loc[~train['location'].str.contains('Turkey|Germany|Netherlands|Pakistan|United Kingdom'), 'location'] = 'Other'
test.loc[~test['location'].str.contains('Turkey|Germany|Netherlands|Pakistan|United Kingdom'), 'location'] = 'Other'

In [128]:
# Show top locations
train['location'].value_counts()

Turkey            52956
Other                30
Germany              16
Netherlands          10
United Kingdom        5
Pakistan              2
Name: location, dtype: int64

## Check datatypes

In [129]:
test.dtypes

user_id               int64
industry             object
location             object
moved_after_2019      int64
companies_worked    float64
max_duration        float64
Business            float64
Design              float64
IT                  float64
Other               float64
N_Skills            float64
English             float64
German              float64
Turkish             float64
French              float64
Spanish             float64
Chinese             float64
NLanguages          float64
start_date_edu       object
end_date_edu         object
degree_edu          float64
field_edu            object
dtype: object

Cast columns into int

In [130]:
float_columns = train.select_dtypes(include=['float']).columns
train[float_columns] = train[float_columns].astype(int)

float_columns = test.select_dtypes(include=['float']).columns
test[float_columns] = test[float_columns].astype(int)

Change dates to datetime

In [131]:
# Set the start_date_edu and end_date_edu to datetime
train['start_date_edu'] = pd.to_datetime(train['start_date_edu'])
test['start_date_edu'] = pd.to_datetime(test['start_date_edu'])

train['end_date_edu'] = pd.to_datetime(train['end_date_edu'])
test['end_date_edu'] = pd.to_datetime(test['end_date_edu'])

In [132]:
test.dtypes

user_id                      int64
industry                    object
location                    object
moved_after_2019             int64
companies_worked             int32
max_duration                 int32
Business                     int32
Design                       int32
IT                           int32
Other                        int32
N_Skills                     int32
English                      int32
German                       int32
Turkish                      int32
French                       int32
Spanish                      int32
Chinese                      int32
NLanguages                   int32
start_date_edu      datetime64[ns]
end_date_edu        datetime64[ns]
degree_edu                   int32
field_edu                   object
dtype: object

#### Drop Industry for now as it has too many unique values

In [99]:
# Drop industry column
train = train.drop('industry', axis=1)
test = test.drop('industry', axis=1)

Remove users who entered work after 2019 as they all are marked as 0

In [104]:
# Save the data
train.to_csv("PreparedData/train.csv", index=False)
test.to_csv("PreparedData/test.csv", index=False)