In [400]:
import os
import pandas as pd

Adding the prepared data into the train_users.csv and test_users.csv

In [401]:
path = os.path.join('OriginalData', 'train_users.csv')
train = pd.read_csv(path)

path = os.path.join('OriginalData', 'test_users.csv')
test = pd.read_csv(path)

In [402]:
train.head()

,user_id,industry,location,moved_after_2019
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1
1,6950,Internet,"Istanbul, Istanbul, Turkey",0
2,4880,Online Media,Turkey,0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0
4,11005,Banking,"Istanbul, Turkey",0

In [403]:
test.head()

   user_id                             industry                    location
0    17449                             Research                      Turkey
1    33967                    Computer Software  Istanbul, Istanbul, Turkey
2     2110                           Automotive                      Turkey
3    55082                             Internet                      Turkey
4    37165  Electrical/Electronic Manufacturing                      Turkey

Adding in data

In [404]:
path = os.path.join('PreparedData', 'work_experiences.csv')
work_experiences = pd.read_csv(path)
# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')

# Drop country column
train = train.drop('country', axis=1)
test = test.drop('country', axis=1)
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035 days
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402 days
2,4880,Online Media,Turkey,0,4.0,1216 days
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856 days
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769 days
...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232 days
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553 days
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042 days
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396 days
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN

In [405]:
path = os.path.join('PreparedData', 'skills.csv')
work_experiences = pd.read_csv(path)
# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035 days,9.0,2.0,1.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402 days,29.0,1.0,8.0
2,4880,Online Media,Turkey,0,4.0,1216 days,10.0,1.0,3.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856 days,12.0,4.0,7.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769 days,28.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232 days,7.0,1.0,1.0
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553 days,NaN,NaN,NaN
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042 days,11.0,2.0,3.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396 days,31.0,2.0,7.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN,9.0,0.0,1.0

In [406]:
path = os.path.join('PreparedData', 'languages.csv')
work_experiences = pd.read_csv(path)
# Show user 53018

# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,German,Turkish,French,Spanish,Chinese,NLanguages
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035 days,9.0,2.0,1.0,3.0,0.0,5.0,0.0,0.0,0.0,4.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402 days,29.0,1.0,8.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
2,4880,Online Media,Turkey,0,4.0,1216 days,10.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856 days,12.0,4.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769 days,28.0,5.0,3.0,3.0,0.0,5.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232 days,7.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553 days,NaN,NaN,NaN,4.0,0.0,5.0,0.0,0.0,0.0,2.0
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042 days,11.0,2.0,3.0,2.0,0.0,2.0,0.0,0.0,0.0,2.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396 days,31.0,2.0,7.0,3.0,1.0,5.0,0.0,0.0,0.0,3.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN,9.0,0.0,1.0,1.0,0.0,5.0,0.0,0.0,0.0,6.0

In [407]:
path = os.path.join('PreparedData', 'education.csv')
work_experiences = pd.read_csv(path)
# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')

train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035 days,9.0,2.0,1.0,3.0,...,5.0,0.0,0.0,0.0,4.0,bachelor,it,2.0,1.0,2.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402 days,29.0,1.0,8.0,3.0,...,0.0,0.0,0.0,0.0,3.0,other,it,1.0,1.0,1.0
2,4880,Online Media,Turkey,0,4.0,1216 days,10.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,bachelor,it,2.0,1.0,2.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856 days,12.0,4.0,7.0,2.0,...,0.0,0.0,0.0,0.0,2.0,master,other,3.0,0.0,3.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769 days,28.0,5.0,3.0,3.0,...,5.0,0.0,0.0,0.0,3.0,other,business,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232 days,7.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,bachelor,business,1.0,1.0,1.0
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553 days,NaN,NaN,NaN,4.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,other,3.0,1.0,3.0
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042 days,11.0,2.0,3.0,2.0,...,2.0,0.0,0.0,0.0,2.0,bachelor,other,2.0,1.0,2.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396 days,31.0,2.0,7.0,3.0,...,5.0,0.0,0.0,0.0,3.0,master,other,4.0,1.0,4.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN,9.0,0.0,1.0,1.0,...,5.0,0.0,0.0,0.0,6.0,bachelor,it,2.0,1.0,2.0

In [408]:
# Fix NaNs for each column
# Show the number of NaNs for each column
train.isnull().sum()

user_id                           0
industry                         72
location                          1
moved_after_2019                  0
companies_worked              10252
max_duration                  10252
it_skills_count                3107
business_skills_count          3107
design_skills_count            3107
English                       23158
German                        23158
Turkish                       23158
French                        23158
Spanish                       23158
Chinese                       23158
NLanguages                    23158
education_level                   1
fields_of_study                   1
education_count                   1
attended_university               1
different_university_count        1
dtype: int64

In [409]:
# Fix NaNs for each column
# Show the number of NaNs for each column
test.isnull().sum()

user_id                          0
industry                        16
location                         0
companies_worked              2729
max_duration                  2729
it_skills_count                765
business_skills_count          765
design_skills_count            765
English                       5826
German                        5826
Turkish                       5826
French                        5826
Spanish                       5826
Chinese                       5826
NLanguages                    5826
education_level                  2
fields_of_study                  2
education_count                  2
attended_university              2
different_university_count       2
dtype: int64

In [410]:
# Fill industry and location with Other
train['industry'] = train['industry'].fillna('Other')
test['industry'] = test['industry'].fillna('Other')
train['location'] = train['location'].fillna('Other')
test['location'] = test['location'].fillna('Other')

In [411]:
# Fill companies worked with 2 assuming a single switch
train['companies_worked'] = train['companies_worked'].fillna(2)
test['companies_worked'] = test['companies_worked'].fillna(2)

In [412]:
# Convert NaN max_duration to "0 days"
train['max_duration'] = train['max_duration'].fillna('0 days')
test['max_duration'] = test['max_duration'].fillna('0 days')

# Convert max_duration column to int, by parsing the string of the format "x days"
train['max_duration'] = train['max_duration'].str.split(' ').str[0].astype(int)
test['max_duration'] = test['max_duration'].str.split(' ').str[0].astype(int)

# For 0, change them to NaNs
train['max_duration'] = train['max_duration'].replace(0, None)
test['max_duration'] = test['max_duration'].replace(0, None)

# Fill max_duration with the mean
train['max_duration'] = train['max_duration'].fillna(train['max_duration'].mean())
test['max_duration'] = test['max_duration'].fillna(train['max_duration'].mean())

# Floor the max_duration
train['max_duration'] = train['max_duration'].astype(int)
test['max_duration'] = test['max_duration'].astype(int)

# Show
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035,9.0,2.0,1.0,3.0,...,5.0,0.0,0.0,0.0,4.0,bachelor,it,2.0,1.0,2.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402,29.0,1.0,8.0,3.0,...,0.0,0.0,0.0,0.0,3.0,other,it,1.0,1.0,1.0
2,4880,Online Media,Turkey,0,4.0,1216,10.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,bachelor,it,2.0,1.0,2.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856,12.0,4.0,7.0,2.0,...,0.0,0.0,0.0,0.0,2.0,master,other,3.0,0.0,3.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769,28.0,5.0,3.0,3.0,...,5.0,0.0,0.0,0.0,3.0,other,business,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232,7.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,bachelor,business,1.0,1.0,1.0
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553,NaN,NaN,NaN,4.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,other,3.0,1.0,3.0
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042,11.0,2.0,3.0,2.0,...,2.0,0.0,0.0,0.0,2.0,bachelor,other,2.0,1.0,2.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396,31.0,2.0,7.0,3.0,...,5.0,0.0,0.0,0.0,3.0,master,other,4.0,1.0,4.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,2.0,1797,9.0,0.0,1.0,1.0,...,5.0,0.0,0.0,0.0,6.0,bachelor,it,2.0,1.0,2.0

In [413]:
# Fix NaNs for each column
# Show the number of NaNs for each column
test.isnull().sum()

user_id                          0
industry                         0
location                         0
companies_worked                 0
max_duration                     0
it_skills_count                765
business_skills_count          765
design_skills_count            765
English                       5826
German                        5826
Turkish                       5826
French                        5826
Spanish                       5826
Chinese                       5826
NLanguages                    5826
education_level                  2
fields_of_study                  2
education_count                  2
attended_university              2
different_university_count       2
dtype: int64

In [414]:
# Fix NaNs for each column
# Show the number of NaNs for each column
train.isnull().sum()

user_id                           0
industry                          0
location                          0
moved_after_2019                  0
companies_worked                  0
max_duration                      0
it_skills_count                3107
business_skills_count          3107
design_skills_count            3107
English                       23158
German                        23158
Turkish                       23158
French                        23158
Spanish                       23158
Chinese                       23158
NLanguages                    23158
education_level                   1
fields_of_study                   1
education_count                   1
attended_university               1
different_university_count        1
dtype: int64

In [415]:
# Fill counts with 0 for NaNs
train['it_skills_count'] = train['it_skills_count'].fillna(train['it_skills_count'].mean().astype(int))
train['business_skills_count'] = train['business_skills_count'].fillna(train['business_skills_count'].mean().astype(int))
train['design_skills_count'] = train['design_skills_count'].fillna(train['business_skills_count'].mean().astype(int))

test['it_skills_count'] = test['it_skills_count'].fillna(train['it_skills_count'].mean().astype(int))
test['business_skills_count'] = test['business_skills_count'].fillna(train['business_skills_count'].mean().astype(int))
test['design_skills_count'] = test['design_skills_count'].fillna(train['business_skills_count'].mean().astype(int))

In [416]:
# Fix NaNs for each column
# Show the number of NaNs for each column
train.isnull().sum()

user_id                           0
industry                          0
location                          0
moved_after_2019                  0
companies_worked                  0
max_duration                      0
it_skills_count                   0
business_skills_count             0
design_skills_count               0
English                       23158
German                        23158
Turkish                       23158
French                        23158
Spanish                       23158
Chinese                       23158
NLanguages                    23158
education_level                   1
fields_of_study                   1
education_count                   1
attended_university               1
different_university_count        1
dtype: int64

In [417]:
# For languages, fill with 0
train['English'] = train['English'].fillna(2)
test['English'] = test['English'].fillna(2)

train['German'] = train['German'].fillna(0)
test['German'] = test['German'].fillna(0)

train['Turkish'] = train['Turkish'].fillna(4)
test['Turkish'] = test['Turkish'].fillna(4)

train['French'] = train['French'].fillna(0)
test['French'] = test['French'].fillna(0)

train['Spanish'] = train['Spanish'].fillna(0)
test['Spanish'] = test['Spanish'].fillna(0)

train['Chinese'] = train['Chinese'].fillna(0)
test['Chinese'] = test['Chinese'].fillna(0)

# Fill NLanguages with mean
train['NLanguages'] = train['NLanguages'].fillna(train['NLanguages'].mean().astype(int))
test['NLanguages'] = test['NLanguages'].fillna(train['NLanguages'].mean().astype(int))

In [ ]:
# Fill education level with bachelor
train['education_level'] = train['education_level'].fillna('bachelor')
test['education_level'] = test['education_level'].fillna('bachelor')

# Fill fields_of_study with Other
train['fields_of_study'] = train['fields_of_study'].fillna('other')
test['fields_of_study'] = test['fields_of_study'].fillna('other')

# Fill education count with 1
train['education_count'] = train['education_count'].fillna(1)
test['education_count'] = test['education_count'].fillna(1)

# Fill atended university with other
train['attended_university'] = train['attended_university'].fillna(1)
test['attended_university'] = test['attended_university'].fillna(1)

# Fill different university with 1
train['different_university_count'] = train['different_university_count'].fillna(1)
test['different_university_count'] = test['different_university_count'].fillna(1)

In [ ]:
# Fix NaNs for each column
# Show the number of NaNs for each column
train.isnull().sum()

In [421]:
# Fix NaNs for each column
# Show the number of NaNs for each column
test.isnull().sum()

user_id                       0
industry                      0
location                      0
companies_worked              0
max_duration                  0
it_skills_count               0
business_skills_count         0
design_skills_count           0
English                       0
German                        0
Turkish                       0
French                        0
Spanish                       0
Chinese                       0
NLanguages                    0
education_level               2
fields_of_study               2
education_count               2
attended_university           2
different_university_count    2
dtype: int64

In [418]:
# Save the data
train.to_csv("PreparedData/train.csv", index=False)
test.to_csv("PreparedData/test.csv", index=False)