In [92]:
import pandas as pd
import os

In [93]:
path = os.path.join('OriginalData', 'languages.csv')
data = pd.read_csv(path)

In [94]:
data

       user_id   language           proficiency
0            8  İngilizce     full_professional
1            8     Türkçe   native_or_bilingual
2            8  Fransızca            elementary
3           10  ingilizce                   NaN
4           11    Turkish   native_or_bilingual
...        ...        ...                   ...
76057    66271    English                   NaN
76058    66272    English  professional_working
76059    66273     Türkçe   native_or_bilingual
76060    66273  İngilizce  professional_working
76061    66273    Almanca            elementary

[76062 rows x 3 columns]

In [95]:
# Replace all occurences of i̇ with i
data['language'] = data['language'].str.replace('i̇', 'i')

In [96]:
# Lowercase all the languages names
data['language'] = data['language'].str.lower()

In [97]:
# Rename mapping
rename_mapping_english = {
    'english': 'eng',
    'french': 'fra',
    'german': 'deu',
    'italian': 'ita',
    'spanish': 'spa',
    'portuguese': 'por',
    'russian': 'rus',
    'japanese': 'jpn',
    'chinese': 'zho',
    'korean': 'kor',
    'arabic': 'ara',
    'hindi': 'hin',
    'turkish': 'tur',
    'greek': 'gre',
    'kurdish': 'kur'
}

rename_mapping_turkish = {
    'ingilizce': 'eng',
    'i̇ngilizce': 'eng',
    'fransızca': 'fra',
    'almanca': 'deu',
    'italyanca': 'ita',
    'ispanyolca': 'spa',
    'portekizce': 'por',
    'rusça': 'rus',
    'japonca': 'jpn',
    'çince': 'zho',
    'korece': 'kor',
    'arapça': 'ara',
    'hintçe': 'hin',
    'türkçe': 'tur',
    'yunanca': 'gre',
    'kürtçe': 'kur',
}

In [98]:
# Rename the languages
for key, val in rename_mapping_english.items():
    # if key is found in the language column, replace it with val
    data['language'] = data['language'].apply(lambda x: val if key in x else x)

# Rename the languages
for key, val in rename_mapping_turkish.items():
    # if key is found in the language column, replace it with val
    data['language'] = data['language'].apply(lambda x: val if key in x else x)

In [99]:
data

       user_id language           proficiency
0            8      eng     full_professional
1            8      tur   native_or_bilingual
2            8      fra            elementary
3           10      eng                   NaN
4           11      tur   native_or_bilingual
...        ...      ...                   ...
76057    66271      eng                   NaN
76058    66272      eng  professional_working
76059    66273      tur   native_or_bilingual
76060    66273      eng  professional_working
76061    66273      deu            elementary

[76062 rows x 3 columns]

In [100]:
# Save data to a new csv file in PreparedData folder
data.to_csv(os.path.join('PreparedData', 'languages.csv'), index=False)