In [17]:
import os
import pandas as pd

Adding the prepared data into the train_users.csv and test_users.csv

In [18]:
path = os.path.join('OriginalData', 'train_users.csv')
train = pd.read_csv(path)

path = os.path.join('OriginalData', 'test_users.csv')
test = pd.read_csv(path)

In [19]:
train.head()

,user_id,industry,location,moved_after_2019
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1
1,6950,Internet,"Istanbul, Istanbul, Turkey",0
2,4880,Online Media,Turkey,0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0
4,11005,Banking,"Istanbul, Turkey",0

In [20]:
test.head()

   user_id                             industry                    location
0    17449                             Research                      Turkey
1    33967                    Computer Software  Istanbul, Istanbul, Turkey
2     2110                           Automotive                      Turkey
3    55082                             Internet                      Turkey
4    37165  Electrical/Electronic Manufacturing                      Turkey

Adding in work experiences

In [21]:
path = os.path.join('PreparedData', 'work_experiences.csv')
work_experiences = pd.read_csv(path)

In [22]:
# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')

In [23]:
test.head()

,user_id,industry,location,moved_after_2019,companies_worked,country,max_duration
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,TR,1035 days
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,TR,1402 days
2,4880,Online Media,Turkey,0,4.0,TR,1216 days
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,TR,1856 days
4,11005,Banking,"Istanbul, Turkey",0,3.0,TR,2769 days