In [211]:
import os
import pandas as pd

Adding the prepared data into the train_users.csv and test_users.csv

In [212]:
path = os.path.join('OriginalData', 'train_users.csv')
train = pd.read_csv(path)

path = os.path.join('OriginalData', 'test_users.csv')
test = pd.read_csv(path)

In [213]:
train.head()

,user_id,industry,location,moved_after_2019
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1
1,6950,Internet,"Istanbul, Istanbul, Turkey",0
2,4880,Online Media,Turkey,0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0
4,11005,Banking,"Istanbul, Turkey",0

In [214]:
test.head()

   user_id                             industry                    location
0    17449                             Research                      Turkey
1    33967                    Computer Software  Istanbul, Istanbul, Turkey
2     2110                           Automotive                      Turkey
3    55082                             Internet                      Turkey
4    37165  Electrical/Electronic Manufacturing                      Turkey

Adding in data

In [215]:
path = os.path.join('PreparedData', 'work_experiences.csv')
work_experiences = pd.read_csv(path)
# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')

# Drop country column
train = train.drop('country', axis=1)
test = test.drop('country', axis=1)
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035 days
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402 days
2,4880,Online Media,Turkey,0,4.0,1216 days
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856 days
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769 days
...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232 days
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553 days
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042 days
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396 days
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN

In [216]:
path = os.path.join('PreparedData', 'skills.csv')
work_experiences = pd.read_csv(path)
# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035 days,10.0,2.0,1.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402 days,30.0,1.0,8.0
2,4880,Online Media,Turkey,0,4.0,1216 days,10.0,1.0,3.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856 days,14.0,4.0,7.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769 days,28.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232 days,9.0,1.0,1.0
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553 days,NaN,NaN,NaN
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042 days,11.0,2.0,3.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396 days,31.0,2.0,7.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN,9.0,0.0,1.0

In [217]:
path = os.path.join('PreparedData', 'languages.csv')
work_experiences = pd.read_csv(path)
# Show user 53018

# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,German,Turkish,French,Spanish,Chinese,NLanguages
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035 days,10.0,2.0,1.0,3.0,0.0,5.0,0.0,0.0,0.0,4.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402 days,30.0,1.0,8.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0
2,4880,Online Media,Turkey,0,4.0,1216 days,10.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856 days,14.0,4.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769 days,28.0,5.0,3.0,3.0,0.0,5.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232 days,9.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553 days,NaN,NaN,NaN,4.0,0.0,5.0,0.0,0.0,0.0,2.0
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042 days,11.0,2.0,3.0,2.0,0.0,2.0,0.0,0.0,0.0,2.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396 days,31.0,2.0,7.0,3.0,1.0,5.0,0.0,0.0,0.0,3.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN,9.0,0.0,1.0,1.0,0.0,5.0,0.0,0.0,0.0,6.0

In [218]:
path = os.path.join('PreparedData', 'education.csv')
work_experiences = pd.read_csv(path)
# From the work_experiences.csv file, we can see that the work experiences are for each user, so we can merge the work experiences with the train and test dataframes.
train = pd.merge(train, work_experiences, how='left', on='user_id')
test = pd.merge(test, work_experiences, how='left', on='user_id')

train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035 days,10.0,2.0,1.0,3.0,...,5.0,0.0,0.0,0.0,4.0,bachelor,it,2.0,1.0,2.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402 days,30.0,1.0,8.0,3.0,...,0.0,0.0,0.0,0.0,3.0,other,it,1.0,1.0,1.0
2,4880,Online Media,Turkey,0,4.0,1216 days,10.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,bachelor,it,2.0,1.0,2.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856 days,14.0,4.0,7.0,2.0,...,0.0,0.0,0.0,0.0,2.0,master,other,3.0,0.0,3.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769 days,28.0,5.0,3.0,3.0,...,5.0,0.0,0.0,0.0,3.0,other,business,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232 days,9.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,bachelor,business,1.0,1.0,1.0
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553 days,NaN,NaN,NaN,4.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,other,3.0,1.0,3.0
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042 days,11.0,2.0,3.0,2.0,...,2.0,0.0,0.0,0.0,2.0,bachelor,other,2.0,1.0,2.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396 days,31.0,2.0,7.0,3.0,...,5.0,0.0,0.0,0.0,3.0,master,other,4.0,1.0,4.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,NaN,NaN,9.0,0.0,1.0,1.0,...,5.0,0.0,0.0,0.0,6.0,bachelor,it,2.0,1.0,2.0

In [219]:
# Fix NaNs for each column
# Show the number of NaNs for each column
train.isnull().sum()

user_id                           0
industry                         72
location                          1
moved_after_2019                  0
companies_worked              10252
max_duration                  10252
it_skills_count                3107
business_skills_count          3107
design_skills_count            3107
English                       23158
German                        23158
Turkish                       23158
French                        23158
Spanish                       23158
Chinese                       23158
NLanguages                    23158
education_level                   1
fields_of_study                   1
education_count                   1
attended_university               1
different_university_count        1
dtype: int64

In [220]:
# Fix NaNs for each column
# Show the number of NaNs for each column
test.isnull().sum()

user_id                          0
industry                        16
location                         0
companies_worked              2729
max_duration                  2729
it_skills_count                765
business_skills_count          765
design_skills_count            765
English                       5826
German                        5826
Turkish                       5826
French                        5826
Spanish                       5826
Chinese                       5826
NLanguages                    5826
education_level                  2
fields_of_study                  2
education_count                  2
attended_university              2
different_university_count       2
dtype: int64

In [221]:
# Fill industry and location with Other
train['industry'] = train['industry'].fillna('Other')
test['industry'] = test['industry'].fillna('Other')
train['location'] = train['location'].fillna('Other')
test['location'] = test['location'].fillna('Other')

In [222]:
# Fill companies worked with 2 assuming a single switch
train['companies_worked'] = train['companies_worked'].fillna(2)
test['companies_worked'] = test['companies_worked'].fillna(2)

In [223]:
# Convert NaN max_duration to "0 days"
train['max_duration'] = train['max_duration'].fillna('0 days')
test['max_duration'] = test['max_duration'].fillna('0 days')

# Convert max_duration column to int, by parsing the string of the format "x days"
train['max_duration'] = train['max_duration'].str.split(' ').str[0].astype(int)
test['max_duration'] = test['max_duration'].str.split(' ').str[0].astype(int)

# For 0, change them to NaNs
train['max_duration'] = train['max_duration'].replace(0, None)
test['max_duration'] = test['max_duration'].replace(0, None)

# Fill max_duration with the mean
train['max_duration'] = train['max_duration'].fillna(train['max_duration'].mean())
test['max_duration'] = test['max_duration'].fillna(train['max_duration'].mean())

# Floor the max_duration
train['max_duration'] = train['max_duration'].astype(int)
test['max_duration'] = test['max_duration'].astype(int)

# Show
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035,10.0,2.0,1.0,3.0,...,5.0,0.0,0.0,0.0,4.0,bachelor,it,2.0,1.0,2.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402,30.0,1.0,8.0,3.0,...,0.0,0.0,0.0,0.0,3.0,other,it,1.0,1.0,1.0
2,4880,Online Media,Turkey,0,4.0,1216,10.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,bachelor,it,2.0,1.0,2.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856,14.0,4.0,7.0,2.0,...,0.0,0.0,0.0,0.0,2.0,master,other,3.0,0.0,3.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769,28.0,5.0,3.0,3.0,...,5.0,0.0,0.0,0.0,3.0,other,business,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232,9.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,bachelor,business,1.0,1.0,1.0
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553,NaN,NaN,NaN,4.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,other,3.0,1.0,3.0
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042,11.0,2.0,3.0,2.0,...,2.0,0.0,0.0,0.0,2.0,bachelor,other,2.0,1.0,2.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396,31.0,2.0,7.0,3.0,...,5.0,0.0,0.0,0.0,3.0,master,other,4.0,1.0,4.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,2.0,1797,9.0,0.0,1.0,1.0,...,5.0,0.0,0.0,0.0,6.0,bachelor,it,2.0,1.0,2.0

In [224]:
# Fix NaNs for each column
# Show the number of NaNs for each column
test.isnull().sum()

user_id                          0
industry                         0
location                         0
companies_worked                 0
max_duration                     0
it_skills_count                765
business_skills_count          765
design_skills_count            765
English                       5826
German                        5826
Turkish                       5826
French                        5826
Spanish                       5826
Chinese                       5826
NLanguages                    5826
education_level                  2
fields_of_study                  2
education_count                  2
attended_university              2
different_university_count       2
dtype: int64

In [225]:
# Fix NaNs for each column
# Show the number of NaNs for each column
train.isnull().sum()

user_id                           0
industry                          0
location                          0
moved_after_2019                  0
companies_worked                  0
max_duration                      0
it_skills_count                3107
business_skills_count          3107
design_skills_count            3107
English                       23158
German                        23158
Turkish                       23158
French                        23158
Spanish                       23158
Chinese                       23158
NLanguages                    23158
education_level                   1
fields_of_study                   1
education_count                   1
attended_university               1
different_university_count        1
dtype: int64

In [226]:
# Fill counts with 0 for NaNs
train['it_skills_count'] = train['it_skills_count'].fillna(train['it_skills_count'].mean().astype(int))
train['business_skills_count'] = train['business_skills_count'].fillna(train['business_skills_count'].mean().astype(int))
train['design_skills_count'] = train['design_skills_count'].fillna(train['business_skills_count'].mean().astype(int))

test['it_skills_count'] = test['it_skills_count'].fillna(train['it_skills_count'].mean().astype(int))
test['business_skills_count'] = test['business_skills_count'].fillna(train['business_skills_count'].mean().astype(int))
test['design_skills_count'] = test['design_skills_count'].fillna(train['business_skills_count'].mean().astype(int))

In [227]:
# Fix NaNs for each column
# Show the number of NaNs for each column
train.isnull().sum()

user_id                           0
industry                          0
location                          0
moved_after_2019                  0
companies_worked                  0
max_duration                      0
it_skills_count                   0
business_skills_count             0
design_skills_count               0
English                       23158
German                        23158
Turkish                       23158
French                        23158
Spanish                       23158
Chinese                       23158
NLanguages                    23158
education_level                   1
fields_of_study                   1
education_count                   1
attended_university               1
different_university_count        1
dtype: int64

In [228]:
# For languages, fill with 0
train['English'] = train['English'].fillna(2)
test['English'] = test['English'].fillna(2)

train['German'] = train['German'].fillna(0)
test['German'] = test['German'].fillna(0)

train['Turkish'] = train['Turkish'].fillna(5)
test['Turkish'] = test['Turkish'].fillna(4)

train['French'] = train['French'].fillna(0)
test['French'] = test['French'].fillna(0)

train['Spanish'] = train['Spanish'].fillna(0)
test['Spanish'] = test['Spanish'].fillna(0)

train['Chinese'] = train['Chinese'].fillna(0)
test['Chinese'] = test['Chinese'].fillna(0)

# Fill NLanguages with mean
train['NLanguages'] = train['NLanguages'].fillna(train['NLanguages'].mean().astype(int))
test['NLanguages'] = test['NLanguages'].fillna(train['NLanguages'].mean().astype(int))

In [229]:
# Fill education level with bachelor
train['education_level'] = train['education_level'].fillna('bachelor')
test['education_level'] = test['education_level'].fillna('bachelor')

# Fill fields_of_study with Other
train['fields_of_study'] = train['fields_of_study'].fillna('other')
test['fields_of_study'] = test['fields_of_study'].fillna('other')

# Fill education count with 1
train['education_count'] = train['education_count'].fillna(1)
test['education_count'] = test['education_count'].fillna(1)

# Fill atended university with other
train['attended_university'] = train['attended_university'].fillna(1)
test['attended_university'] = test['attended_university'].fillna(1)

# Fill different university with 1
train['different_university_count'] = train['different_university_count'].fillna(1)
test['different_university_count'] = test['different_university_count'].fillna(1)

In [230]:
# Fix NaNs for each column
# Show the number of NaNs for each column
train.isnull().sum()

user_id                       0
industry                      0
location                      0
moved_after_2019              0
companies_worked              0
max_duration                  0
it_skills_count               0
business_skills_count         0
design_skills_count           0
English                       0
German                        0
Turkish                       0
French                        0
Spanish                       0
Chinese                       0
NLanguages                    0
education_level               0
fields_of_study               0
education_count               0
attended_university           0
different_university_count    0
dtype: int64

In [231]:
# Fix NaNs for each column
# Show the number of NaNs for each column
test.isnull().sum()

user_id                       0
industry                      0
location                      0
companies_worked              0
max_duration                  0
it_skills_count               0
business_skills_count         0
design_skills_count           0
English                       0
German                        0
Turkish                       0
French                        0
Spanish                       0
Chinese                       0
NLanguages                    0
education_level               0
fields_of_study               0
education_count               0
attended_university           0
different_university_count    0
dtype: int64

In [232]:
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1,3.0,1035,10.0,2.0,1.0,3.0,...,5.0,0.0,0.0,0.0,4.0,bachelor,it,2.0,1.0,2.0
1,6950,Internet,"Istanbul, Istanbul, Turkey",0,4.0,1402,30.0,1.0,8.0,3.0,...,0.0,0.0,0.0,0.0,3.0,other,it,1.0,1.0,1.0
2,4880,Online Media,Turkey,0,4.0,1216,10.0,1.0,3.0,2.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,it,2.0,1.0,2.0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0,1.0,1856,14.0,4.0,7.0,2.0,...,0.0,0.0,0.0,0.0,2.0,master,other,3.0,0.0,3.0
4,11005,Banking,"Istanbul, Turkey",0,3.0,2769,28.0,5.0,3.0,3.0,...,5.0,0.0,0.0,0.0,3.0,other,business,2.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Istanbul, Turkey",0,2.0,4232,9.0,1.0,1.0,2.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,business,1.0,1.0,1.0
53015,37784,Telecommunications,"Istanbul, Turkey",0,2.0,1553,11.0,1.0,1.0,4.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,other,3.0,1.0,3.0
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3.0,3042,11.0,2.0,3.0,2.0,...,2.0,0.0,0.0,0.0,2.0,bachelor,other,2.0,1.0,2.0
53017,12165,Internet,"Istanbul, Turkey",1,3.0,396,31.0,2.0,7.0,3.0,...,5.0,0.0,0.0,0.0,3.0,master,other,4.0,1.0,4.0
53018,248,Information Technology and Services,"Istanbul, Turkey",0,2.0,1797,9.0,0.0,1.0,1.0,...,5.0,0.0,0.0,0.0,6.0,bachelor,it,2.0,1.0,2.0

In [233]:
# Show how many rows have Turkey in the location string
train[train['location'].str.contains('Turkey')].shape

# Show rows without Turkey in the location string
train[~train['location'].str.contains('Turkey')]

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
111,3783,Computer Software,Greater Istanbul,1,2.0,1797,1.0,2.0,0.0,2.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,it,3.0,1.0,3.0
564,22392,Information Technology and Services,Philippines,1,1.0,3866,13.0,2.0,0.0,2.0,...,5.0,0.0,0.0,0.0,2.0,master,it,3.0,1.0,3.0
701,16800,Computer Software,Germany,0,3.0,2738,17.0,3.0,2.0,2.0,...,5.0,0.0,0.0,0.0,2.0,master,business,3.0,1.0,3.0
1099,26989,Program Development,Amsterdam Area,0,2.0,31,7.0,2.0,4.0,2.0,...,5.0,0.0,0.0,0.0,2.0,other,it,1.0,1.0,1.0
1196,9190,Research,"Luxembourg, Luxembourg",0,2.0,62,17.0,2.0,6.0,4.0,...,5.0,0.0,0.0,0.0,3.0,master,it,5.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51934,7826,Computer Software,"Islamabad, Islāmābād, Pakistan",1,2.0,1797,12.0,2.0,1.0,2.0,...,5.0,0.0,0.0,0.0,2.0,other,it,3.0,1.0,3.0
52112,17505,Staffing and Recruiting,"Sittard, Limburg, Netherlands",1,1.0,396,1.0,1.0,2.0,3.0,...,0.0,2.0,0.0,0.0,2.0,bachelor,other,3.0,1.0,3.0
52498,13574,Hospital & Health Care,Greater Ankara,1,5.0,1430,0.0,0.0,0.0,2.0,...,5.0,0.0,0.0,0.0,2.0,master,other,2.0,1.0,2.0
52526,15744,Business Supplies and Equipment,Greater Bursa,0,3.0,700,1.0,4.0,1.0,4.0,...,0.0,0.0,0.0,0.0,3.0,master,other,2.0,1.0,2.0
52870,46257,Computer Games,Greater Izmir,0,2.0,1797,0.0,0.0,1.0,2.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,other,1.0,1.0,1.0

In [234]:
# Do same for test
test[test['location'].str.contains('Turkey')].shape

# Show rows without Turkey in the location string
test[~test['location'].str.contains('Turkey')]

,user_id,industry,location,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,German,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
271,11119,Information Technology and Services,Greater Istanbul,2.0,3988,10.0,2.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,other,it,2.0,1.0,2.0
412,10355,Computer Software,Greater Istanbul,2.0,1797,10.0,7.0,1.0,4.0,2.0,5.0,0.0,0.0,0.0,3.0,master,other,2.0,1.0,2.0
1251,22647,Computer Software,"Mogadishu, Somalia",2.0,1797,5.0,0.0,2.0,4.0,0.0,4.0,0.0,0.0,0.0,2.0,master,it,4.0,1.0,2.0
1608,18892,Information Technology and Services,"Baden-Württemberg, Germany",1.0,153,8.0,4.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,other,other,1.0,1.0,1.0
1669,19937,Computer Software,"London, England, United Kingdom",4.0,1277,12.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,2.0,other,it,3.0,1.0,3.0
1771,16801,Computer Software,"Warsaw, Mazowieckie, Poland",3.0,638,19.0,2.0,5.0,3.0,1.0,5.0,0.0,0.0,0.0,2.0,bachelor,other,6.0,1.0,6.0
2000,8222,Computer Software,"London Area, United Kingdom",2.0,1797,21.0,2.0,10.0,5.0,0.0,3.0,0.0,0.0,0.0,3.0,master,other,4.0,1.0,3.0
2325,43227,Computer Software,"Munich, Bavaria, Germany",3.0,1857,19.0,2.0,5.0,4.0,0.0,5.0,0.0,1.0,0.0,2.0,master,it,2.0,1.0,2.0
2396,19526,Mining & Metals,Greater Izmir,2.0,1797,4.0,9.0,3.0,7.0,5.0,5.0,0.0,0.0,0.0,2.0,other,business,3.0,1.0,3.0
3353,49870,Computer Software,"Fort Lee, New Jersey, United States",2.0,1797,17.0,0.0,5.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,it,1.0,1.0,1.0
3632,33881,Building Materials,Greater Eskisehir,3.0,1430,0.0,3.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,master,other,3.0,1.0,3.0
4195,60442,Defense & Space,Greater Ankara,1.0,1218,11.0,1.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,master,it,2.0,1.0,2.0
4461,12266,Information Technology and Services,Greater Izmir,2.0,1797,11.0,1.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,business,2.0,1.0,2.0
5125,36782,Research,"Oss, North Brabant, Netherlands",2.0,1797,16.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,it,1.0,1.0,1.0
5893,7213,Telecommunications,"Stockholm, Stockholm County, Sweden",3.0,6697,14.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,bachelor,business,4.0,1.0,4.0
6541,44651,Computer Software,Greater Istanbul,2.0,1797,6.0,1.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,other,it,1.0,1.0,1.0
6992,8010,Computer Software,"Warwick, England, United Kingdom",3.0,3896,23.0,1.0,3.0,3.0,0.0,2.0,0.0,0.0,0.0,3.0,master,it,3.0,1.0,3.0
7000,22675,Computer Software,Greater Kahramanmaras,2.0,1797,7.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,it,1.0,1.0,1.0
7315,22908,Information Technology and Services,Philippines,1.0,3866,13.0,2.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,master,it,3.0,1.0,3.0
7674,59549,Computer Networking,Greater Istanbul,2.0,1797,1.0,2.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,it,1.0,1.0,1.0
9248,57061,Information Technology and Services,Greater Istanbul,2.0,1797,6.0,1.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,other,2.0,0.0,2.0
9438,16274,Information Technology and Services,Greater Ankara,2.0,1797,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,bachelor,it,1.0,1.0,1.0
9630,18461,Design,Greater Istanbul,2.0,1797,10.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,other,1.0,1.0,1.0
11222,27445,Computer Software,Greater Istanbul,2.0,1797,4.0,0.0,0.0,4.0,2.0,5.0,0.0,0.0,0.0,2.0,master,other,2.0,1.0,2.0
11461,1497,Internet,Greater Istanbul,2.0,1797,9.0,3.0,7.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0,bachelor,other,1.0,1.0,1.0
11750,63168,Information Technology and Services,Greater Istanbul,2.0,1068,1.0,1.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,other,other,2.0,1.0,2.0
12796,18078,Information Technology and Services,Greater Istanbul,2.0,1797,9.0,0.0,3.0,4.0,1.0,5.0,0.0,0.0,0.0,2.0,bachelor,it,3.0,1.0,3.0
13014,24468,International Trade and Development,United Kingdom,4.0,1583,1.0,1.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,master,it,2.0,1.0,2.0

In [235]:
# Fix these rows
# Replace all uppercase İ with normal I
train['location'] = train['location'].str.replace('İ', 'I')
test['location'] = test['location'].str.replace('İ', 'I')
city_names = ['Izmir', 'Bursa', 'Istanbul', 'Ankara', 'Eskisehir', 'Kahramanmaras', 'Kayseri', "Manisa", "Antalya", 
              "Tekirdag", "Adana", "Konya", "Kocaeli", "Ordu", "Gaziantep", "Kahramanmaraş"]

for name in city_names:
    train.loc[train['location'].str.contains(name), 'location'] = name + ', Turkey'
    test.loc[test['location'].str.contains(name), 'location'] = name + ', Turkey'

# Replace location rows with Kahraman Maras, Turkey with Kahramanmaraş, Turkey
train.loc[train['location'].str.contains('Kahraman Maras, Turkey'), 'location'] = 'Kahramanmaraş, Turkey'
test.loc[test['location'].str.contains('Kahraman Maras, Turkey'), 'location'] = 'Kahramanmaraş, Turkey'

In [236]:
# Show location with most occurences
train['location'].value_counts()

Istanbul, Turkey                  28391
Turkey                            10922
Ankara, Turkey                     7708
Izmir, Turkey                      1955
Kocaeli, Turkey                     557
                                  ...
Afyon, Turkey                         1
Amsterdam Area                        1
Çınarcık, Yalova, Turkey              1
Palandoken, Erzurum, Turkey           1
Islamabad, Islāmābād, Pakistan        1
Name: location, Length: 228, dtype: int64

In [237]:
# Do same for test
train[train['location'].str.contains('Turkey')].shape

# Show rows without Turkey in the location string
train[~train['location'].str.contains('Turkey')]

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
564,22392,Information Technology and Services,Philippines,1,1.0,3866,13.0,2.0,0.0,2.0,...,5.0,0.0,0.0,0.0,2.0,master,it,3.0,1.0,3.0
701,16800,Computer Software,Germany,0,3.0,2738,17.0,3.0,2.0,2.0,...,5.0,0.0,0.0,0.0,2.0,master,business,3.0,1.0,3.0
1099,26989,Program Development,Amsterdam Area,0,2.0,31,7.0,2.0,4.0,2.0,...,5.0,0.0,0.0,0.0,2.0,other,it,1.0,1.0,1.0
1196,9190,Research,"Luxembourg, Luxembourg",0,2.0,62,17.0,2.0,6.0,4.0,...,5.0,0.0,0.0,0.0,3.0,master,it,5.0,1.0,4.0
1238,34736,Other,Azerbaijan,0,2.0,1797,5.0,0.0,2.0,2.0,...,5.0,0.0,0.0,0.0,2.0,bachelor,it,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48958,16326,Computer Software,"Warsaw, Mazowieckie, Poland",1,3.0,638,19.0,2.0,5.0,3.0,...,5.0,0.0,0.0,0.0,3.0,bachelor,other,6.0,1.0,6.0
49766,8335,Computer Software,"London Area, United Kingdom",1,2.0,1797,21.0,2.0,10.0,5.0,...,3.0,0.0,0.0,0.0,3.0,master,other,4.0,1.0,3.0
50230,65326,Computer Software,Kuwait City Metropolitan Area,1,4.0,1127,25.0,3.0,6.0,4.0,...,3.0,3.0,0.0,0.0,1.0,master,it,2.0,1.0,2.0
51934,7826,Computer Software,"Islamabad, Islāmābād, Pakistan",1,2.0,1797,12.0,2.0,1.0,2.0,...,5.0,0.0,0.0,0.0,2.0,other,it,3.0,1.0,3.0
52112,17505,Staffing and Recruiting,"Sittard, Limburg, Netherlands",1,1.0,396,1.0,1.0,2.0,3.0,...,0.0,2.0,0.0,0.0,2.0,bachelor,other,3.0,1.0,3.0

In [238]:
# Do same for test
test[test['location'].str.contains('Turkey')].shape

# Show rows without Turkey in the location string
test[~test['location'].str.contains('Turkey')]

,user_id,industry,location,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,German,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
1251,22647,Computer Software,"Mogadishu, Somalia",2.0,1797,5.0,0.0,2.0,4.0,0.0,4.0,0.0,0.0,0.0,2.0,master,it,4.0,1.0,2.0
1608,18892,Information Technology and Services,"Baden-Württemberg, Germany",1.0,153,8.0,4.0,1.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,other,other,1.0,1.0,1.0
1669,19937,Computer Software,"London, England, United Kingdom",4.0,1277,12.0,0.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,2.0,other,it,3.0,1.0,3.0
1771,16801,Computer Software,"Warsaw, Mazowieckie, Poland",3.0,638,19.0,2.0,5.0,3.0,1.0,5.0,0.0,0.0,0.0,2.0,bachelor,other,6.0,1.0,6.0
2000,8222,Computer Software,"London Area, United Kingdom",2.0,1797,21.0,2.0,10.0,5.0,0.0,3.0,0.0,0.0,0.0,3.0,master,other,4.0,1.0,3.0
2325,43227,Computer Software,"Munich, Bavaria, Germany",3.0,1857,19.0,2.0,5.0,4.0,0.0,5.0,0.0,1.0,0.0,2.0,master,it,2.0,1.0,2.0
3353,49870,Computer Software,"Fort Lee, New Jersey, United States",2.0,1797,17.0,0.0,5.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,it,1.0,1.0,1.0
5125,36782,Research,"Oss, North Brabant, Netherlands",2.0,1797,16.0,0.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,bachelor,it,1.0,1.0,1.0
5893,7213,Telecommunications,"Stockholm, Stockholm County, Sweden",3.0,6697,14.0,2.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0,3.0,bachelor,business,4.0,1.0,4.0
6992,8010,Computer Software,"Warwick, England, United Kingdom",3.0,3896,23.0,1.0,3.0,3.0,0.0,2.0,0.0,0.0,0.0,3.0,master,it,3.0,1.0,3.0
7315,22908,Information Technology and Services,Philippines,1.0,3866,13.0,2.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,master,it,3.0,1.0,3.0
13014,24468,International Trade and Development,United Kingdom,4.0,1583,1.0,1.0,0.0,2.0,0.0,4.0,0.0,0.0,0.0,2.0,master,it,2.0,1.0,2.0

In [239]:
# Show how many industry types there are
train['industry'].value_counts()

Computer Software                      17177
Information Technology and Services    11067
Telecommunications                      2912
Defense & Space                         2325
Banking                                 1634
                                       ...
Fund-Raising                               2
Alternative Dispute Resolution             2
Commercial Real Estate                     2
Dairy                                      2
Wine and Spirits                           1
Name: industry, Length: 142, dtype: int64

In [240]:
# Cast these columns into int
cols = ['companies_worked','it_skills_count', 'business_skills_count', 'design_skills_count', 'NLanguages', 'education_count',
         'different_university_count', 'English', 'German', 'Turkish', 'French', 'Spanish', 'Chinese', 'attended_university']
for col in cols:
    train[col] = train[col].astype(int)
    test[col] = test[col].astype(int)

In [241]:
train

,user_id,industry,location,moved_after_2019,companies_worked,max_duration,it_skills_count,business_skills_count,design_skills_count,English,...,Turkish,French,Spanish,Chinese,NLanguages,education_level,fields_of_study,education_count,attended_university,different_university_count
0,1301,Information Technology and Services,"Istanbul, Turkey",1,3,1035,10,2,1,3,...,5,0,0,0,4,bachelor,it,2,1,2
1,6950,Internet,"Istanbul, Turkey",0,4,1402,30,1,8,3,...,0,0,0,0,3,other,it,1,1,1
2,4880,Online Media,Turkey,0,4,1216,10,1,3,2,...,5,0,0,0,2,bachelor,it,2,1,2
3,26046,Telecommunications,"Istanbul, Turkey",0,1,1856,14,4,7,2,...,0,0,0,0,2,master,other,3,0,3
4,11005,Banking,"Istanbul, Turkey",0,3,2769,28,5,3,3,...,5,0,0,0,3,other,business,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53014,57247,Information Technology and Services,"Istanbul, Turkey",0,2,4232,9,1,1,2,...,5,0,0,0,2,bachelor,business,1,1,1
53015,37784,Telecommunications,"Istanbul, Turkey",0,2,1553,11,1,1,4,...,5,0,0,0,2,bachelor,other,3,1,3
53016,33229,Information Technology and Services,"Ankara, Turkey",0,3,3042,11,2,3,2,...,2,0,0,0,2,bachelor,other,2,1,2
53017,12165,Internet,"Istanbul, Turkey",1,3,396,31,2,7,3,...,5,0,0,0,3,master,other,4,1,4
53018,248,Information Technology and Services,"Istanbul, Turkey",0,2,1797,9,0,1,1,...,5,0,0,0,6,bachelor,it,2,1,2

In [242]:
# Save the data
train.to_csv("PreparedData/train.csv", index=False)
test.to_csv("PreparedData/test.csv", index=False)