In [240]:
import pandas as pd
import os

In [241]:
path = os.path.join('OriginalData', 'skills.csv')
data = pd.read_csv(path)

In [242]:
data

         user_id                      skill
0              1                Mühendislik
1              1                     Eğitim
2              2                    Android
3              2                       Java
4              2              3D Studio Max
...          ...                        ...
1398438    66273                      CI/CD
1398439    66273                  Terraform
1398440    66273                    MongoDB
1398441    66273  Go (Programming Language)
1398442    66273                     Packer

[1398443 rows x 2 columns]

In [243]:
# Show amount of unique skills
data['skill'].nunique()

53025

In [244]:
# Lowercase all the skills
data['skill'] = data['skill'].str.lower()

In [245]:
# remove trailing and leading spaces
data['skill'] = data['skill'].str.strip()

In [246]:
# Rename SQL skills into SQL, by checking if SQL is in the skill name
data['skill'] = data['skill'].apply(lambda x: 'sql' if 'sql' in x else x)

In [247]:
# Selenium
data['skill'] = data['skill'].apply(lambda x: 'selenium' if 'selenium' in x else x)

In [248]:
# Microsoft
data['skill'] = data['skill'].apply(lambda x: 'microsoft' if 'microsoft' in x else x)

In [249]:
# Amazon
data['skill'] = data['skill'].apply(lambda x: 'aws' if 'amazon' in x or 'aws' in x else x)

In [250]:
# Liderlik
data['skill'] = data['skill'].apply(lambda x: 'leadership' if 'liderlik' in x or 'lider' in x else x)

In [251]:
# Oyun
data['skill'] = data['skill'].apply(lambda x: 'game' if 'oyun' in x else x)

In [252]:
# drop rows where skill is 'eğitim' or 'mühendislik' since we have other csv for this
data = data[data['skill'] != 'eğitim']
data = data[data['skill'] != 'mühendislik']

In [253]:
# drop rows about language, since we have other csv for this
data = data[data['skill'] != 'yabancı dil']
data = data[data['skill'] != 'yabancı']
data = data[data['skill'] != 'i̇ngilizce']
data = data[data['skill'] != 'ingilizce']
data = data[data['skill'] != 'almanca']
data = data[data['skill'] != 'fransızca']
data = data[data['skill'] != 'yabancı dil(ingilizce)']

In [254]:
# Drop rows where skill is only found once in the dataset
data = data.groupby('skill').filter(lambda x: len(x) > 1)

In [255]:
# Remove duplicates
data = data.drop_duplicates()

In [256]:
# Show amount of unique skills after cleaning
data['skill'].nunique()

24555

In [257]:
# One hot encode the skills within the dataframe
#data = pd.get_dummies(data, columns=['skill'])

In [258]:
data

         user_id                      skill
2              2                    android
3              2                       java
4              2              3d studio max
5              2         müşteri hizmetleri
6              2                  microsoft
...          ...                        ...
1398438    66273                      ci/cd
1398439    66273                  terraform
1398440    66273                    mongodb
1398441    66273  go (programming language)
1398442    66273                     packer

[1308639 rows x 2 columns]

In [259]:
# Save data to a new csv file in PreparedData folder
data.to_csv(os.path.join('PreparedData', 'skills.csv'), index=False)